
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;

}




  div.card {
    background-color: #00bbff;
    float: left;
    margin: 10px;
    height: 250px;
    /* width: 300px; */
    box-shadow: 10px 10px  grey;
    padding: 10px;
    border-radius: 10px;
    width: calc( 100% / 6 - 10px);

}  

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     }
    
     body {
         height:100vh;
         background: #9506b2;
    
     }
    
    houses-collection{
        width: 640px;
        height:  640px;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid aqua;
    
     }


      
