
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;

}


  div.card {
    background-color: #ff0000;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px  grey;
    padding: 10px;
    border-radius: 10px;

}  



  


/* .card:hover{
    box-shadow: 0 8px 16px 0
    rbga(0,0,0,0,2);
}

.container {
    padding:2px 16px;

} */